table {
	    margin: 40px;
}
td{
	padding: 10px 10px 1px 1px;
}
tr td:nth-child(1) {
	text-align: center;
	border-right: 1px solid black;
}
tr td:nth-child(2) {
	text-align: center;
	border: 1px solid black;
}